header {
  position: relative;
  background: -webkit-linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65));
  background: -moz-linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65));
  background: -o-linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65));
  background: -ms-linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65));
  background: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)), url('../img/header.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 380px;
}

a {
  font-family: 'raleway-extrabold', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: @color;
  border-radius: 3px;

  &:hover {
    color: #998675;
  }

  &:active {
    color: #998675;
    background-color: @color;
  }
}

.control {
  .control-left {
    position: absolute;
    top: 46.4%;
    left: 7.8%;

    &:after {
      content: "";
      display: inline-block;
      width: 52px;
      height: 52px;
      border-bottom: 2px solid #a4a3a1;
      border-left: 2px solid #a4a3a1;
      transform: rotate(45deg);
    }

    &:hover:after {
      border-bottom: 2px solid #d3c1ad;
      ;
      border-left: 2px solid #d3c1ad;
      ;
    }
  }

  .control-radio {
    position: absolute;
    top: 95%;
    left: 50%;

    &:after {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      background-color: #a4a3a1;
      background-clip: padding-box;
      border: 2px solid rgba(0, 0, 0, 0);
      border-radius: 50%;
    }

    &:hover:after {
      background-color: rgba(0, 0, 0, 0);
      border: 2px solid #a4a3a1;
      border-radius: 50%;
    }

    &:nth-child(2) {
      left: -30px;
    }

    &:nth-child(3) {
      left: ((50%)-15px);
    }

    &:nth-child(4) {
      left: 50%;
    }

    &:nth-child(5) {
      left: 15px;
    }

    &:nth-child(6) {
      left: 30px;
    }
  }

  .control-right {
    position: absolute;
    top: 46.4%;
    left: 90.1%;

    &:after {
      content: "";
      display: inline-block;
      width: 52px;
      height: 52px;
      border-top: 2px solid #a4a3a1;
      border-right: 2px solid #a4a3a1;
      transform: rotate(45deg);
      position: absolute;
      top: 10px;
      left: -25px;
    }

    &:hover:after {
      border-top: 2px solid #d3c1ad;
      ;
      border-right: 2px solid #d3c1ad;
      ;
    }
  }
}
