@import "logotip";
@import "nav-header";
@import "center-body";
@import "icon-header";

@color-hover: #c7b29a;
@color-active: #dca;
@color-font: #fff;

//.font(@color, @size, @weight) {
//  color: @color;
//  font-size: @size;
//  font-weight: @weigh;
//}