@import "https://fonts.googleapis.com/css?family=Montserrat";
@import "https://fonts.googleapis.com/css?family=Raleway";

@import "logotip";
@import "nav-header";
@import "center-body";
@import "icon-header";
@import "slayder";

@color-hover: #c7b29a;
@color-active: #dca;
@color-font: #fff;

